*{
 margin: 0px;
 padding: 0px;
}
body{

    background-color: lightblue;
}

#container{
   width: 80%;
   margin: 0px auto;
   border: 1px solid black;
   background: white;
   background: white;

}

#header{
    height: 145px;
    background-color: brow#F0F0F0;
    background-color: brow#F0F0F0;
    color: white;
    text-align: center;
    line-height: 100px;
}


#logo {
    padding: 20px;
    margin-left:  20px;
    float: left;

}

#logo img{
    float: left;
    height: 100px;

}

#menu {
    clear: both;
    background-color: #2222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;

}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

#menu a:hover{
    background-color: #01b1ea;
}


#content{
    margin:  0% auto;
    overflow: hidden;
    background: white;

}

/* barra lateral */
#lateral {
    width: 19%;
    min-height: 650px;
    border: 1px solid red;
    float: left;
    margin-top: 20px;
    margin-left: 10px;

}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 2px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 1px solid red;


}

#central{
    width: 79%;
    min-height: 650px;
    float:right;
    border: 1px solid blue;
    margin-top: 20px;
    margin-right: 11px;
}